* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url(./fundo7.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

img {
    width: 100px;
    margin-bottom: 20px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #37d8b8;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #37d8b8;
}

header {
    display: flex;
    flex-direction: column;
    align-items: right;  
    justify-content: flex-start; 
    padding: 1px;
    background-color: t#ffffff;
    color: #333;
}

header img {
    margin-bottom: 1px;
    width: 320px; 
    align-items: center;  
}
